<h4>Labels and their relevance score</h4>
<ul class="list-group">
    {{#each this}}
        <li class="list-group-item">
            {{this.description}} = {{this.score}}
        </li>
    {{/each}}
</ul>