<ul class="list-group">
    <li class="list-group-item">
        Adult={{adult}}
    </li>
    <li class="list-group-item">
        Spoof={{spoof}}
    </li>
    <li class="list-group-item">
        Medical={{medical}}
    </li>
    <li class="list-group-item">
        Violence={{violence}}
    </li>
</ul>