<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/" enctype="multipart/form-data" method="post">
    <label for="imageFile">Select image:</label>
    <input type="file" required="required" name="imageFile" accept="image/*">
    <button>Upload</button>
</form>